// Package {{.PackageName}} provides details for the {{.Name}} applet.
package {{.PackageName}}

import (
	_ "embed"

	"tidbyt.dev/community/apps/manifest"
)

//go:embed {{.FileName}}
var source []byte

// New creates a new instance of the {{.Name}} applet.
func New() manifest.Manifest {
	return manifest.Manifest{
		ID:          "{{.ID}}",
		Name:        "{{.Name}}",
		Author:      "{{.Author}}",
		Summary:     "{{.Summary}}",
		Desc:        "{{.Desc}}",
		FileName:    "{{.FileName}}",
		PackageName: "{{.PackageName}}",
		Source:  source,
	}
}
