name: pixlet

on:
  push:
    branches:
      - main
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.16.12"

      - name: Install buildifier
        run: make install-buildifier

      - name: Run buildifier
        run: buildifier -d -r ./

  build-and-test-release:
    name: Build and Test Release Artifacts
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.16.12"

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: sudo ./scripts/setup-linux.sh

      - name: Install macOS dependencies
        if: matrix.os == 'macos-latest'
        run: ./scripts/setup-macos.sh

      - name: Install frontend dependencies
        run: npm install

      - name: Build frontend
        run: npm run build

      - name: Build
        run: make build

      - name: Test
        run: make test

      - name: Set pixlet version
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - name: Build Release Linux
        if: matrix.os == 'ubuntu-latest'
        run: make release-linux
        env:
          PIXLET_VERSION: ${{ steps.vars.outputs.tag }}

      - name: Build Release macOS
        if: matrix.os == 'macos-latest'
        run: make release-macos
        env:
          PIXLET_VERSION: ${{ steps.vars.outputs.tag }}

      - name: Upload Release Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: release-artifacts
          path: build

  create-release:
    name: Create Github Release
    runs-on: ubuntu-latest
    environment: release
    needs: build-and-test-release
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: "0"

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.16.12"

      - name: Fetch Release Artifacts
        uses: actions/download-artifact@v3
        with:
          name: release-artifacts

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.TIDBYT_GITHUB_TOKEN }}
          DISCORD_WEBHOOK_ID: ${{ secrets.DISCORD_WEBHOOK_ID }}
          DISCORD_WEBHOOK_TOKEN: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
